

<div class="back-color">
  <h1>CONTATO</h1>

  <p class="texto-duvidas">Ficou com dúvidas ou quer fazer uma sugestão? Entre em contato conosco!</p>

  <img class="img-contato" src="../../../assets/pexels-rodnae-productions-8151687 1.png" alt="Imagem de um celular para entrar em contato">

  <div class="div-instagram">
    <img class="img-instagram" src="../../../assets/image 1.png" alt="Logo instagram">
    <p class="texto-instagram">Instagram</p>
  </div>
  <div class="div-email">
    <img class="img-instagram" src="../../../assets/image 3.png" alt="Logo instagram">
    <p class="texto-instagram">Gmail</p>
  </div>


  <div class="div-whatsapp">
    <img class="img-instagram" src="../../../assets/image 2.png" alt="Logo instagram">
    <p class="texto-instagram">Whatsapp</p>
  </div>
</div>
