<div class="back-color">

  <h1>PLANTAS</h1>

  <div>



    <div class="planta1">

      <img class="img-alface" src="../../../assets/pexels-nastyasensei-1199562 1.png" alt="Foto alface" (click)="navegar($event)" data-valor="alface">

      <p class="alface">
        Alface
      </p>

    </div>

    <div class="planta2">

      <img class="img-morango" src="../../../assets/pexels-nastyasensei-119.png" alt="Foto morango"  (click)="navegar($event)" data-valor="morango">

      <p class="morango">
        Morango
      </p>

    </div>

    <div class="planta3">

      <img class="img-laranja" src="../../../assets/pexels-nastyasensei-11.png" alt="Foto laranja" (click)="navegar($event)" data-valor="laranja">


      <p class="laranja">
        Laranja
      </p>

    </div>

    <div class="planta4">

      <img class="img-abobora" src="../../../assets/pexels-nastyss.png" alt="Foto abobora" (click)="navegar($event)" data-valor="abobora">


      <p class="abobora">
        Abóbora
      </p>

    </div>

  </div>
</div>
