

<div class="back-color">
  <h1>RASTROS DA <br> MATA</h1>
  <p class="texto-bemvindo">Seja bem-vindo(a) ao cantinho da <b style="color: #0C6338;">Família Rastros!</b></p>
  <p class="texto-apresentacao">Aqui você encontra informações que permitem o cultivo de frutas, verduras e legumes em espaços pequenos, possibilitando aproveitar aqueles cantinhos da sua casa.</p>
  <img class="img-secundaria" src="../../../assets/pexels-valeria-ushakova-3094207 1img1.png" alt="Foto de planta semente">

  <h1 id="sobrenos" class="titulo-sobre">Sobre nós</h1>

  <img class="img-terceira" src="../../../assets/pexels-roman-odintsov-6574601 1.png" alt="Foto de planta semente">

  <p class="texto-principal">Somos um grupo que se reuniu visando duas necessidades que se interligaram: acadêmica e a preocupação com o meio ambiente e com a alimentação.
    Diante do cenário exposto pela ONU em relação ao ambiente e consequentemente à fome, nos preocupamos em buscar uma possibilidade para que as pessoas consigam alterar o curso da situação Mundial.
    Entendemos que podemos ajudar levando ao público informações sobre o plantio em vasos e pequenos espaços, o que é viável para muita gente.
    </p>

</div>


