<div class="back-color">
  <h1> {{ planta.nome }}</h1>

  <img class="img-planta" [src]="planta.imagem" alt="Plantas">

  <img class="img-sol" src="../../../assets/sol.png" alt="Sol">

  <p class="p-top">
    Exposição ao sol
  </p>

  <p class="p-down">
    {{ planta.exposicaoSol }}
  </p>


  <img class="img-germinacao" src="../../../assets/germinacao.png" alt="Germinacao">

  <p class="p-top-1">
    Germinação
  </p>

  <p class="p-down-1">
    {{ planta.germinacao}}
  </p>



  <img class="img-colheita" src="../../../assets/colheita.png" alt="Colheita">

  <p class="p-top-2">
    Colheita
  </p>

  <p class="p-down-2">
    {{ planta.colheita}}
  </p>


  <p class="resumo">
    {{ planta.resumo }}
  </p>


  <img class="img-sol2" src="../../../assets/sol.png" alt="Sol">

  <p class="exposicao-nome"> Exposição ao sol:</p>

  <p class="exposicaoResumo">
    {{ planta.exposicaoSolResumo }}
  </p>

  <img class="img-agua" src="../../../assets/agua.png" alt="Agua">

  <p class="agua-nome"> Irrigação:</p>

  <p class="resumo-irrigacao">
    {{ planta.irrigacao }}
  </p>

</div>
